<div id="profileDetails">
  <h5 id="profileName" class="profileTag">NAME:</h5>
  <p id="profileP" class="profileOutput">{{userName}}</p>
  <h5 id="profileEmail" class="profileTag">EMAIL:</h5>
  <p id="profileP" class="profileOutput">{{userEmail}}</p>
</div>

<button class="itemBtn listFromProfile" id="profileList" type="submit">Add Post</button>

<div id="userPostList">
    {{#each post}}
      <div class="card">
        <h2>{{this.title}}</h2>
        <h5>{{this.userName}}, {{this.date_created}}</h5>
        <p>{{this.text}}</p>
      </div>
    {{/each}}
</div>

{{! <!-- New Post Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div id = "container">
            <form id = "form">
            <h2 class="title">Create your new Listing</h2>
            <label for="name" class ="name listLabel">Item Name:</label>
            <input type="text" id="name" name="name" class="listInput" placeholder="Item Name" >
            <label for="price" class="price listLabel">Item Price:</label>
            <input type="text" id="price" name="price" class="listInput" placeholder="Sell Price">
            <label for="description" class ="description listLabel">Description:</label>
            <input type="text" id="description" name="description" class="listInput" placeholder="Description">
            <label for="image_link" class ="image_link listLabel">Image URL:</label>
            <input type="text" id="image_link" name="image_link" class="listInput" placeholder="Image URL">
            </form>
        </div>
        <br/><br/>
        <button id="confirm" class="itemBtn">Confirm</button><button id="canx" class="itemBtn">Cancel</button>
    </div>

</div> }}
<!-- ....................... -->

{{! <!-- Update Post Modal -->
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div id = "container2">
            <form id = "form2">
            <h2 class="title">Update Listing</h2>
            <label for="name" class ="name listLabel">Item Name:</label>
            <input type="text" id="name2" name="name" class="listInput" placeholder="Item Name" >
            <label for="price" class="price listLabel">Item Price:</label>
            <input type="text" id="price2" name="price" class="listInput" placeholder="Sell Price">
            <label for="description" class ="description listLabel">Description:</label>
            <input type="text" id="description2" name="description" class="listInput" placeholder="Description">
            <label for="image_link" class ="image_link listLabel">Image URL:</label>
            <input type="text" id="image_link2" name="image_link" class="listInput" placeholder="Image URL">
            </form>
        </div>
        <br/><br/>
        <button id="confirm2"  class="itemBtn">Update</button><button id="canx2" class="itemBtn">Cancel</button>
    </div>
</div>  }}